<hr>
<section id="phone-validator-section">
  <header>
    <h2>Test our phone validator</h2>
    <p>Enter any email, and we’ll show you how fast and accurate our phone validation system is.</p>
  </header>
  <form>
    <label for="input1">A phone number:</label>
    <input type="text" id="input1" name="input1" size="20" placeholder="Phone +681111111111">
    <button type="submit">Submit</button>
  </form>
</section>
<br>
<section>
  <table>
    <thead>
      <tr>
        <th>Phone</th>
        <th>Country</th>
        <th>Status</th>
      </tr>
    </thead>
    <tr>
      <td>+6285624710902</td>
      <td>Indonesia</td>
      <td>Valid</td>
    </tr>
  </table>
</section>
