---
http_interactions:
- request:
    method: get
    uri: https://phonevalidation.abstractapi.com/v1/?api_key=556bed4b995e42eca7114b937fd0b138&phone=14152007986
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"phone":"14152007986","valid":true,"format":{"international":"+14152007986","local":"(415)
        200-7986"},"country":{"code":"US","name":"United States","prefix":"+1"},"location":"California","type":"mobile","carrier":"T-Mobile
        USA, Inc."}'
  recorded_at: Sun, 11 Jul 2021 06:34:24 GMT
recorded_with: VCR 6.0.0
